﻿
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link" href="@Url.Action("Index","Dashboard",new {Area="admin"})">

        <span class="nav-link-text">Admin Anasayfa</span>
    </a>
</li>


<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#ckort">
        <span class="nav-link-text">Kort İşlemleri</span>
    </a>
    <ul class="sidenav-second-level collapse" id="ckort">
        <li>
            <a href="@Url.Action("Index","Kortlar",new {Area="admin"})">Kortları Listele</a>
        </li>
        <li>
            <a href="@Url.Action("Create","Kortlar",new {Area="admin"})">Kort Ekle</a>
        </li>
    </ul>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#ckortucret">
        <span class="nav-link-text">Kort Günlük Ücret İşlemleri</span>
    </a>
    <ul class="sidenav-second-level collapse" id="ckortucret">
        <li>
            <a href="@Url.Action("Index","KortGunlukUcretleri",new {Area="admin"})">Kortları Listele</a>
        </li>
        <li>
            <a href="@Url.Action("Create","KortGunlukUcretleri",new {Area="admin"})">Kort Ekle</a>
        </li>
    </ul>
</li>


<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#ckull">
        <span class="nav-link-text">Kullanıcı İşlemleri</span>
    </a>
    <ul class="sidenav-second-level collapse" id="ckull">
        <li>
            <a href="@Url.Action("Users","Account",new {Area=""})">Kullanıcıları Listele</a>
        </li>
        <li>
            <a href="@Url.Action("Register","Account",new {Area=""})">Kullanıcı Ekle</a>
        </li>
    </ul>
</li>



<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link" href="@Url.Action("RezervasyonVerisiDoldur","Test",new {Area=""})">

        <span class="nav-link-text">Rezervasyon Seed</span>
    </a>
</li>
