﻿@using KortKiralamaOdevi.Areas.admin.Models
@model  List<KortKiralamaOdevi.Areas.admin.Models.DashboardIndexViewModel>
<h3>Rezervasyon Durum Listesi</h3>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Kort Adı</th>
        <th>Rezervasyon Yapan Kullanıcı</th>
        <th>Telefon Numarası</th>
        <th>Gün</th>
        <th>Başlangıç</th>
        <th>Bitiş</th>
        <th>Ücret</th>
        <th>Ödeme Durumu</th>
    </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
       {
        <tr>
            <td>@item.kortAdi</td>
            <td>@item.rezervasyonYapanKullanici</td>
            <td>@item.telNo</td>
            <td>@item.Gun</td>
            <td>@item.baslangicSaati.ToString("dd/MM/yyyy hh:mm")</td>
            <td>@item.bitisSaati.ToString("dd/MM/yyyy hh:mm")</td>
            <td>@item.odemeTutari</td>
            <td>@Html.Raw(item.odemeDurumu ? "<span class='text-white bg-success'>Ödendi</span>" : "<span class='text-white bg-danger'>Ödemesi Yapılmadı</span>")</td>
        </tr>
       }
      

    </tbody>
</table>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
}