﻿@model KortKiralamaOdevi.Models.dbEntities.KortGunlukUcret

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KortGunlukUcret</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kort.KortAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kort.KortAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ucret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ucret)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
