﻿@model IEnumerable<KortKiralamaOdevi.Models.dbEntities.KortGunlukUcret>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kort.KortAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ucret)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kort.KortAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ucret)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
