﻿
@using KortKiralamaOdevi.Areas.admin.Models
@model  List<KortKiralamaOdevi.Models.ApplicationUser>
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<h3>Kullanıcı Listesi</h3>
<a href="@Url.Action("Register","Account",new{Area=""})" class="btn btn-default">Ekle Yeni Kullanıcı</a>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Telefon No</th>
        <th>Email</th>
        <th>Kullanıcı Adı</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.TelNo</td>
            <td>@item.Email</td>
            <td>@item.UserName</td>
        </tr>
    }
      

    </tbody>
</table>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
}