﻿@model KortKiralamaOdevi.Areas.admin.Models.RezervasyonDetayViewModel
@{
    Layout = null;
}

<div class="form">
    <div class="form-group">
        @Html.LabelFor(model => model.kortAdi) :
        @Model.kortAdi
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RezervasyonYapanKullanici) :
        @Model.RezervasyonYapanKullanici
    </div>

    @if (!ViewBag.NormalSayfa)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TelNo) :
            @Model.TelNo
        </div>

    }


    <div class="form-group">
        @Html.LabelFor(model => model.Baslangic) :

        @Model.Baslangic.ToString("dd/MM/yyyy hh:mm")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bitis) :
        @Model.Bitis.ToString("dd/MM/yyyy hh:mm")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.odemeTutari) :
        @Model.odemeTutari₺
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.rezervasyonDurumu) :
        @Model.rezervasyonDurumu
    </div>
    @if (!ViewBag.NormalSayfa)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.odemeDurum) :
            @Html.Raw(Model.odemeDurum ? "<span class='text-white bg-success'>Ödendi</span>" : "<span class='text-white bg-danger'>Ödemesi Yapılmadı</span>")
        </div>
    }

   
</div>