﻿@using System.Globalization
@model  KortKiralamaOdevi.Areas.admin.Models.RezervasyonIndexViewModel
@{
    ViewBag.Title = "Index";
    if (ViewBag.NormalSayfa==true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@section Styles{
    <link rel="stylesheet" href="~/Content/schedule/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/schedule/css/style.css"> <!-- Resource style -->
    <style>
        .events-group {
            width: calc(100% / 7) !important;
        }
    </style>
}
<div class="col-md-12">
    @Model.KortAdi  Adlı Korta Ait Rezervasyon Bilgileri
</div>
<div class="cd-schedule loading">
    <div class="timeline">
        <ul>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:30</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
        </ul>
    </div> <!-- .timeline -->
    <div class="events">
        <ul>
            @{
                int counter = 1;
            }
            @foreach (var item in Model.RezervasyonViewModels.GroupBy(x => x.Gun).OrderBy(x=>x.Key))
            {
                var liste = item.ToList();

                <li class="events-group">
                    <div class="top-info"><span>@{
                                                    var day = CultureInfo.GetCultureInfo("tr-TR").DateTimeFormat.DayNames[(int)item.Key]; ;
                                                    
                                        }
                        @Html.Raw(day)
                                 </span></div>
                    <ul>
                        @foreach (var rez in liste)
                        {
                            <li class="single-event"
                                rezervasyonId="@rez.rezervasyonId"
                                data-start="@Html.Raw(rez.Baslangic.TimeOfDay.Hours + ":" + rez.Baslangic.TimeOfDay.Minutes)"
                                data-end="@Html.Raw(rez.Bitis.TimeOfDay.Hours + ":" + rez.Bitis.TimeOfDay.Minutes)"
                                data-event="event-@((counter++%3)+1)">
                                <a href="javascript:;" >
                                    <span class="event-name">@rez.RezervasyonYapanKullanici </span>
                                </a>
                            </li>
                        }


                    </ul>
                </li>
            }


        </ul>
    </div>
    <div class="col-md-12">
        <a href="@Url.Action("RezervasyonYap","Rezervasyon",new{Area=""})" style="margin-top: 15px" class="btn btn-default pull-right">Rezervasyon Yap</a>
    </div>
    <div class="event-modal">
        <header class="header">
            <div class="content">
                <span class="event-date"></span>
                <h3 class="event-name"></h3>
            </div>
            <div class="header-bg"></div>
        </header>
        <div class="body">
            <div class="event-info" id="modalContent"></div>
            <div class="body-bg"></div>
        </div>
        <a href="javascript:;" class="close">Close</a>
    </div>
    <div class="cover-layer"></div>

</div> <!-- .cd-schedule -->
@section Scripts{
    <script>
        if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
        $(".single-event").click(function () {
            var rezervasyonId = $(this).attr("rezervasyonId");
            $("#modalContent").load("@Url.Action("_RezervasyonDetay")?rezervasyonId=" + rezervasyonId);
        });
    </script>
    <script src="~/Content/schedule/js/main.js"></script> <!-- Resource jQuery -->
}
