﻿@model double
@{
    Layout = null;
}
<div class="row">
    <hr />

    <div class="col-md-12" style="float: left">
        <h5>Kredi Kartı Bilgileriniz</h5>
        <div class="form-group">
            <label class="control-label">Kart Numarası</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Kartın Üzerindeki Ad Soyad</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Son Kullanma Tarihi</label>
            <input type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">CVV</label>
            <input type="number" name="Seans" id="Seans" class="form-control" />
        </div>
    </div>
    <div class="col-md-12">
        Bu rezervasyon için ödemeniz gereken toplam tutar : @Model₺
    </div>
    <div class="col-md-12">
        @Html.CheckBox("oyunSonrasiOdenecek", new { style = "display:none" })
        <button class="btn btn-success col-xs-6 pull-left" type="button" id="kartIleBtn">Kart İle Öde</button>
        <button class="btn btn-default col-xs-6 pull-right" type="button" id="oyunSonrasiBtn">Oyun Sonrası Öde</button>

    </div>
</div>
<script>
    $("#oyunSonrasiBtn").click(function () {
        $("#oyunSonrasiOdenecek").prop("checked", true);
        $("#rezervasyonForm").submit();
    });
    $("#kartIleBtn").click(function () {
        $("#oyunSonrasiOdenecek").prop("checked", false);
        $("#rezervasyonForm").submit();
    });
</script>