﻿@model KortKiralamaOdevi.Models.RezervasyonYapViewModel
<div class="col-md-3" style="float: left">&emsp;</div>
@using (Html.BeginForm("RezervasyonYap", "Rezervasyon", new { Area = "" }, FormMethod.Post, new { id = "rezervasyonForm" }))
{

    <div class="col-md-6" style="padding: 100px; float: left">
        @if (!string.IsNullOrEmpty(ViewBag.Hata))
        {
            <div class="alert alert-danger">@ViewBag.Hata</div>
        }
        <h4 style="color: black">Rezervasyon Sayfası</h4><br/>
        @if (!StaticDegiskenler.KullaniciGirisYaptiMi)
        {
            <div class="form-group">
                <label class="control-label">Ad</label>
                @Html.TextBoxFor(x => x.Ad, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label class="control-label">Soyad</label>
                @Html.TextBoxFor(x => x.Soyad, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label class="control-label">Telefon</label>
                @Html.TextBoxFor(x => x.TelNo, new {@class = "form-control"})
            </div>
        }
        <div class="form-group">
            <label class="control-label">Kort Seçiniz</label>
            @Html.DropDownListFor(x => x.FKKortID, ViewBag.Kortlar as SelectList, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label class="control-label">Tarih</label>
            @Html.TextBoxFor(x => x.BaslangicTarihi, new {@class = "form-control", type = "date"})
        </div>
        <div class="form-group">
            <label class="control-label">Saat</label>
            <select name="BaslangicSaati" id="BaslangicSaati" class="form-control">
                <option value="9" selected="">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Kaç seans randevu yapmak istiyorsunuz ? (Her seans 1 saattir)</label>
            @Html.TextBoxFor(x => x.Seans, new {@class = "form-control", type = "number"})

        </div>
        <div id="ucretAlani">
            <button type="button" class="btn btn-success pull-right" id="devamBtn" onclick="UcretGetir()">Devam Et</button>
        </div>
    </div>
}
@section Scripts{
    <script>
        function UcretGetir() {
            debugger;
            if (!$("#FKKortID").val() || $("#FKKortID").val() == "" || !$("#Seans").val() || $("#Seans").val() == "" || !$("#BaslangicTarihi").val() || $("#BaslangicTarihi").val()=="") {
                alert("Kort , başlangıç tarihi ve seans sayısı seçilmeli");
                return;
            }
            $.post("@Url.Action("OdemeSecimi")",
                {
                    kortId: $("#FKKortID").val(),
                    seans: $("#Seans").val(),
                    baslangicTarihi: $("#BaslangicTarihi").val()

                }).done(function(data) {
                $("#ucretAlani").html(data);
            }).fail(function() {
                alert("Ücret Getirirken Hata!");
            });
        }

        function RezervasyonSuccess(data) {
            $("#ucretAlani").html(data);
            $("#devamBtn").hide("fast");
        }
    </script>
}