﻿@model KortKiralamaOdevi.Models.RezervasyonYapViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-3" style="float: left">&emsp;</div>
<div class="col-md-6" style="float: left;padding-top: 150px">
    <div class="form-group">
        <label>Kort Adı :</label>
        @Model.KortAdi
    </div>
    <div class="form-group">
        <label>Rezervasyon Yapan Kullanıcı :</label>
        @Model.Ad @Model.Soyad
    </div>
    <div class="form-group">
        <label>Telefon No :</label>
        @Model.TelNo
    </div>
    <div class="form-group">
        <label>Rezervasyon Tarihi :</label>
        @Model.BaslangicTarihi.ToString("dd/MM/yyyy")
    </div>
    <div class="form-group">
        <label>Rezervasyon Saati :</label>
        @Model.BaslangicSaati - @(Model.BaslangicSaati + Model.Seans)
    </div>
    <div class="form-group">
        <label>Ödeme Durumu :</label>
        @(Model.oyunSonrasiOdenecek?"Ödeme oyun sonrası alınacaktır":"Ödemesi Alındı")
    </div>
    <div class="form-group">
        <label>Bilgi :</label>
        @Model.Bilgi
    </div>

</div>
