/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */

.cd-schedule {
    line-height: 1;
}
    .cd-schedule ol, .cd-schedule ul {
        list-style: none;
    }
    .cd-schedule blockquote, .cd-schedule q {
        quotes: none;
    }
        .cd-schedule blockquote:before, .cd-schedule blockquote:after,
        .cd-schedule q:before, .cd-schedule q:after {
            content: '';
            content: none;
        }
.cd-schedule table {
    border-collapse: collapse;
    border-spacing: 0;
}